:root {
    --color_primario: #8527c3fd;
    --color_primario_suave: #8527c383;
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.body{
    background-color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    height: var(--altura_header);
    background-color: var(--color_primario);
}
a{
    text-decoration: none;
}
ol, ul{
    list-style: none;
}
.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_right);
}
.menu_hamburguesa{
    display: none;
}
.menu_hamburguesa:checked + .ul_links{
    height: cal(100vh - var(--altura_header));

}
.logo{
    color: var(--color_blanco);
}
.label_hamburguesa{

}
.list_icon{
    color: var(--color_blanco);
    cursor: pointer;
}
.ul_links{
    width: 100%;
    background-color: orange;
    position: absolute;
    top: var(--alture_header);
    display: flex;
    justify-content: center;
    /*height: cal(100vh - var(--altura_header));*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--color_primario_suave);
    height: 0;
    overflow: hidden;
    left: 0; 
    transition: all .3s;
}

@media (min-width:768px){
    .label_hamburguesa{
        display: none;
    }
    .ul_links{
        position: static;
        width: auto;
        flex-direction: row;
        gap: 2rem;
        height: auto;
    }
    .link{
        font-size: 1.2rem;
        transition: all .3s; 
        padding: .2rem .7rem; 
    }
    .link:hover{
        background-color: #8527c383;
       
    }
}
.li_links{

}
.link{
    font-size: 3rem;
    color: var(--color_blanco);
    font-weight: bold;
}